*{
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
    /* background-color: lightsteelblue; */
}
body{
    background-color: lightsteelblue;

}
.container{
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

.title{
    color: white;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 50px;
} 



.all{
    width: 20%;
    position: relative;
    margin: 1rem 1.5rem;
    display: inline-block;
    border-radius: 1rem;
}

.size_card{
    width: 100%;
    height: 250px;
    background-color: white;
    border-radius: 1rem;
}
.pattern_card{
    background-image: url(../memory_img/pattern.png);
    background-size: contain;
}

.container_card_invisible{
    position: absolute;
    top: 0;
    opacity: 0%;
}
.container_card_invisible:hover{
    opacity: 100%;
    background-color: white;
}

.text_card{
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 30px;
}

.card{
    width: 100%;
    height: 200px;
    background-size: contain;
}

.ballon{
    background-image: url(../memory_img/noun_air_balloon_3134741.png);
}

.bicycle{
    background-image: url(../memory_img/noun_Bicycle_3134821.png);
}

.cruise{
    background-image: url(../memory_img/noun_Cruise_Ship_3134824.png);
}
.submarine{
    background-image: url(../memory_img/noun_Submarine_3134738.png);
}
.tram{
    background-image: url(../memory_img/noun_Tram_3134750.png);
}
.tractor{
    background-image: url(../memory_img/noun_Tractor_3134797.png);
}

footer{
    height: 100px;
    line-height: 50px;
    width: 100%;
    text-align: center;
    font-size: 20px;
    padding-top: 1rem;
}