*{
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
}

.container{
    background-color: lightgreen;
    width: 80%;
    height: 1000px;
    margin: 0 auto;
}

.title{
    background-color: red;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 50px;
} 



.all{
    /* background-color: violet; */
    width: 20%;
    position: relative;
    margin: 1rem 1.5rem;
    display: inline-block;
    border-radius: 1rem;
}

.size_card{
    width: 100%;
    height: 250px;
    background-color: white;
    border-radius: 1rem;
}
.pattern_card{
    background-image: url(../memory_img/pattern.png);
    background-size: contain;
}

.container_card_invisible{
    position: absolute;
    top: 0;
    opacity: 0%;
}
.container_card_invisible:hover{
    opacity: 100%;
}

.ballon_card{
    width: 100%;
    height: 200px;
    background-image: url(../memory_img/noun_air_balloon_3134741.png);
    background-size: contain;
    /* background-color: red; */
}

.text_card{
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 30px;
    /* background-color: yellow; */
}